<div class="d-flex" id="wrapper">
    
    <div class="border-end bg-dark" id="sidebar-wrapper">
        
        <div class="profile-section text-center p-3 border-bottom">
            
            <h5 class="text-white mt-2">Admin</h5>
        </div>

        <div class="sidebar-heading border-bottom bg-primary text-white text-center">Employee Management</div>
        
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" routerLink="/all" routerLinkActive="active">View Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" routerLink="/search" routerLinkActive="active">Search Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" routerLink="/insert" routerLinkActive="active">Add Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" routerLink="/update" routerLinkActive="active">Update Employee</a>
        </div>
    </div>

   
    <div id="page-content-wrapper">
        <div class="container-fluid">
            
        </div>
    </div>
</div>
