<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Employee Management System</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" routerLink="/all" routerLinkActive="active">View Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" routerLink="/search" routerLinkActive="active">Search Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" routerLink="/insert" routerLinkActive="active">Add Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" routerLink="/update" routerLinkActive="active">Update Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" routerLink="/delete" routerLinkActive="active">Delete Employee</a>
        </div>
    </div>