<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-dark" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-primary text-white">Employee Management System</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!" routerLink="/all" routerLinkActive="active">View Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!" routerLink="/search" routerLinkActive="active">Search Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!" routerLink="/insert" routerLinkActive="active">Add Employee</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#!" routerLink="/update" routerLinkActive="active">Update Employee</a>
        </div>
    </div>

    <!-- Page Content-->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!-- Your main content goes here -->
        </div>
    </div>
</div>
